.item {

    &__table {
        width: 100%;
    }

    &__col {
        border-top: 1px solid #CCC;
        padding: 10px 5px;
    }

    &__image {
        max-width: 100px;
        max-height: 100px;
    }

    &__footer {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    &__back {
    }
}
